doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.min.css")
        title JavaScript30
    body 
        h1 My 30 days vanilla JS coding challenge

        mixin Card(name, description, linktext, href)
            .card 
                img(src="", alt=name)
                p=description 
                a(href=href)=linktext
        
        +Card(`first`,`project description`, `project link`,`#`)
       
         

        script(src="./js/main.min.js") 